Repository i45000/ive-ia-doc-generator-1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

.lintstagedrc.json:

{
  "linters": {
    "*.css": ["prettier-eslint --write", "stylelint --fix", "git add"],
    "*.js": [
      "import-sort --write",
      "prettier-eslint --write",
      "eslint --fix",
      "jest --bail --findRelatedTests",
      "git add"
    ],
    "*.json": ["prettier-eslint --write", "git add"]
  },
  "ignore": ["flow-typed/**"]
}

chore: initial dist subtree commit
  6aed8f364d55b5d619a851f6a786ac13.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: initial dist subtree commit
  3e418147d3161b7891d9863805ff04a1.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: initial dist subtree commit
  dist/3e418147d3161b7891d9863805ff04a1.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: initial dist subtree commit
  dist/3e418147d3161b7891d9863805ff04a1.docx
  dist/6aed8f364d55b5d619a851f6a786ac13.docx
  dist/adcb417e41911acfbfe0e8be59856ebb.docx
  dist/af72095ac660aaeaafc0c25f7c63d6a2.docx
  dist/b04afbdbd3e20d6523b4c623616ae7e0.docx
  dist/f07854d33aad1f872952e6eeb29d4e70.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: initial dist subtree commit
  3e418147d3161b7891d9863805ff04a1.docx
  6aed8f364d55b5d619a851f6a786ac13.docx
  adcb417e41911acfbfe0e8be59856ebb.docx
  af72095ac660aaeaafc0c25f7c63d6a2.docx
  b04afbdbd3e20d6523b4c623616ae7e0.docx
  f07854d33aad1f872952e6eeb29d4e70.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: finishing the first ver
  flow-typed/npm/react-redux_v5.x.x.js
  src/Components/IADetail/index.js
  src/Components/Instruction/index.js
  src/Components/SiteVisit/index.js
  src/Components/Warning/index.css
  src/Components/Warning/index.js
  src/Containers/App/App.js
  src/Utils/formHelper.js
  src/assets/template-document.docx
  src/inputMap/emergencyContact.js
  src/inputMap/iaMentor.js
  src/inputMap/siteVisit.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: code cleanup
  src/index.html
Due: none

feat: updatel dist subtree
  index.html
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: updatel dist subtree
  dist/index.html
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gitignore
  .gitignore
Due: none

chore: update webpack config
  webpack.config.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

chore: update tamplate doc
  src/assets/template-document.docx
Due: none

chore: update gh-page
  43245dbb9a451847a43d2a03441aabbd.docx
  b04afbdbd3e20d6523b4c623616ae7e0.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-page
  dist/43245dbb9a451847a43d2a03441aabbd.docx
  dist/b04afbdbd3e20d6523b4c623616ae7e0.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: remove imjs
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: remove imjs
  dist/main.js
  package-lock.json
  package.json
  src/Components/Instruction/index.css
  src/Components/Instruction/index.js
  src/Containers/FormBody/FormBody.js
  src/Containers/ImportExport/Import/Import.js
  src/Containers/ImportExport/ImportExport.js
  src/Utils/formHelper.js
  src/inputMap/emergencyContact.js
  src/inputMap/iaCompany.js
  src/inputMap/iaJob.js
  src/inputMap/iaMentor.js
  src/inputMap/iaRequirement.js
  src/inputMap/iaSupervisor.js
  src/inputMap/medicalInfo.js
  src/inputMap/personalInfo.js
  src/inputMap/programInfo.js
  src/inputMap/siteVisit.js
  src/redux/form/actions.js
  src/redux/form/reducer.js
  src/redux/form/selectors.js
  src/redux/rootReducer.js
  src/redux/ui/__tests__/reducer.test.js
  src/redux/ui/reducer.js
  src/redux/ui/selectors.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update template doc
  src/assets/template-document.docx
Due: none

chore: update gh-page
  43245dbb9a451847a43d2a03441aabbd.docx
  8cbad35fc6b43eb724f5422004bbc5e5.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-page
  dist/43245dbb9a451847a43d2a03441aabbd.docx
  dist/8cbad35fc6b43eb724f5422004bbc5e5.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update config
  .lintstagedrc.json
Due: prettier-eslint --write
