Repository i45000/ive-ia-doc-generator-1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write

feat: include build
  .gitignore
  dist/106835edf8d41f66fde3daa71cc3dcb3.ico
  dist/289d84415c84902649edfb77fb6d7e5e.ico
  dist/dd9cd61347dd4efd4114a64f63e0e02b.svg
  dist/index.html
  dist/main.js
Due: prettier-eslint --write, import-sort --write

chore: remove build
  .gitignore
  dist/106835edf8d41f66fde3daa71cc3dcb3.ico
  dist/289d84415c84902649edfb77fb6d7e5e.ico
  dist/dd9cd61347dd4efd4114a64f63e0e02b.svg
  dist/index.html
  dist/main.js
Due: prettier-eslint --write, import-sort --write

chore: initial dist subtree commit
  .babelrc
  .commitlintrc.json
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .flowconfig
  .gitignore
  .importsortrc.json
  .lintstagedrc.json
  .stylelintrc.json
  289d84415c84902649edfb77fb6d7e5e.ico
  dd9cd61347dd4efd4114a64f63e0e02b.svg
  index.html
  main.js
  package-lock.json
  package.json
  src/App/App.js
  src/App/index.js
  src/Components/Header/index.css
  src/Components/Header/index.js
  src/index.html
  src/index.js
  src/style.css
  webpack.config.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: initial dist subtree commit
  dist/289d84415c84902649edfb77fb6d7e5e.ico
  dist/dd9cd61347dd4efd4114a64f63e0e02b.svg
  dist/index.html
  dist/main.js
Due: prettier-eslint --write, import-sort --write

chore: initial dist subtree commit
  main.js
Due: prettier-eslint --write, import-sort --write

chore: initial dist subtree commit
  dist/main.js
Due: prettier-eslint --write, import-sort --write

chore: update webpack config
  webpack.config.js
Due: prettier-eslint --write, import-sort --write

chore: update project name
  package.json
Due: prettier-eslint --write

chore: update favicon
  src/assets/favicon.ico
Due: none

chore: reverse favicon
  src/assets/favicon.ico
Due: none

feat: add github link
  src/Components/Header/index.css
  src/Components/Header/index.js
  src/assets/github-logo.svg
Due: prettier-eslint --write, stylelint --fix, import-sort --write

feat: add box component
  src/App/App.js
  src/Components/Box/index.css
  src/Components/Box/index.js
  src/Components/Header/index.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: fix eslint and update folder structure
  package-lock.json
  package.json
  src/App/App.js
  src/App/index.js
  src/Components/Box/index.css
  src/Components/Box/index.js
  src/Components/Header/index.js
  src/Components/Instruction/index.css
  src/Components/Instruction/index.js
  src/Containers/App/index.js
  src/Containers/Form/Form.js
  src/Containers/Form/index.js
  src/index.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

feat: update box component to show percentage
  src/Components/Box/index.css
  src/Components/Box/index.js
  src/Containers/App/index.js
  src/Containers/Form/Form.js
  src/Containers/IACompany/index.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

feat: try to implement the first section
  package-lock.json
  package.json
  src/Components/Box/index.css
  src/Components/FlexLabel/index.css
  src/Components/FlexLabel/index.js
  src/Containers/App/index.js
  src/Containers/Form/Form.js
  src/Containers/Form/inputMap.js
  src/Containers/IACompany/index.js
  src/Containers/LoadJson/index.js
  src/Containers/ProgramInfo/index.js
  src/Utils/FormHelper.js
  src/style.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: updatel dist subtreet
  dist/750dac63675afe3a04bd74fa0a8a1bee.svg
  dist/ece0ce5182451a61deaa00fff38e3c3e.svg
  dist/favicon.ico
  dist/index.html
  dist/main.js
Due: prettier-eslint --write, import-sort --write

chore: updatel dist subtreet
  750dac63675afe3a04bd74fa0a8a1bee.svg
  ece0ce5182451a61deaa00fff38e3c3e.svg
  favicon.ico
  index.html
  main.js
Due: prettier-eslint --write, import-sort --write

chore: updatel dist subtreet
  dist/index.html
  dist/main.js
Due: prettier-eslint --write, import-sort --write

chore: updatel dist subtreet
  index.html
  main.js
Due: prettier-eslint --write, import-sort --write

feat: update to react redux form
  750dac63675afe3a04bd74fa0a8a1bee.svg
  ece0ce5182451a61deaa00fff38e3c3e.svg
  favicon.ico
  main.js
Due: prettier-eslint --write, import-sort --write

refactor: use immutable for form
  src/Containers/FormBody/FormBody.js
  src/Containers/ProgramInfo/index.js
  src/redux/form/programInfo.js
  src/redux/rootReducer.js
Due: prettier-eslint --write, import-sort --write

feat: added set field example
  flow-typed/npm/@commitlint/cli_vx.x.x.js
  flow-typed/npm/@commitlint/config-conventional_vx.x.x.js
  flow-typed/npm/flow-typed_vx.x.x.js
  package-lock.json
  package.json
  src/Containers/FormBody/FormBody.js
  src/redux/form/reducer.js
  src/redux/rootReducer.js
Due: prettier-eslint --write, import-sort --write

feat: create most of the section
  src/Components/Box/index.css
  src/Components/FlexLabel/index.js
  src/Components/IASupervisor/index.js
  src/Components/PersonalInfo/index.js
  src/Components/ProgramInfo/index.css
  src/Components/ProgramInfo/index.js
  src/Components/SiteVisit/index.js
  src/Containers/FormBody/FormBody.js
  src/Containers/FormBody/inputMap.js
  src/Containers/ProgramInfo/index.js
  src/Utils/formHelper.js
  src/inputMap/emergencyContact.js
  src/inputMap/iaSupervisor.js
  src/inputMap/index.js
  src/inputMap/personalInfo.js
  src/inputMap/programInfo.js
  src/inputMap/siteVisit.js
  src/redux/form/actions.js
  src/redux/form/programInfo.js
  src/redux/form/reducer.js
  src/redux/index.js
  src/redux/rootReducer.js
  src/style.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: remove temp code
  src/Utils/formHelper.js
Due: prettier-eslint --write, import-sort --write

feat: implement export and toolbox
  index.html
Due: none

feat: implement export and toolbox
  .eslintrc.yml
  dist/index.html
  package-lock.json
  package.json
  src/Components/Box/index.css
  src/Components/Box/index.js
  src/Components/Container/index.css
  src/Components/Container/index.js
  src/Components/FlexLabel/index.css
  src/Components/IADetail/index.css
  src/Components/IADetail/index.js
  src/Components/IASupervisor/index.js
  src/Components/SiteVisit/index.js
  src/Components/ToolbarBtn/index.css
  src/Components/ToolbarBtn/index.js
  src/Containers/App/index.js
  src/Containers/FormBody/FormBody.js
  src/Containers/FormBody/index.js
  src/Containers/ImportExport/Export/index.css
  src/Containers/ImportExport/Export/index.js
  src/Containers/ImportExport/ImportExport.js
  src/Containers/ImportExport/index.css
  src/Containers/ImportExport/index.js
  src/Containers/LoadJson/index.js
  src/Containers/ToolBar/ToolBar.js
  src/Containers/ToolBar/index.css
  src/Containers/ToolBar/index.js
  src/Utils/formHelper.js
  src/inputMap/iaCompany.js
  src/inputMap/iaJob.js
  src/inputMap/iaMentor.js
  src/inputMap/iaRequirement.js
  src/inputMap/index.js
  src/redux/form/selectors.js
  src/redux/ui/__tests__/reducer.test.js
  src/redux/ui/actions.js
  src/redux/ui/reducer.js
  src/redux/ui/selectors.js
  src/style.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write

feat: added hover label and code cleanup
  src/Components/ToolbarBtn/index.css
  src/Components/ToolbarBtn/index.js
  src/Containers/ImportExport/CopyToClipboard/index.js
  src/Containers/ImportExport/Export/index.js
  src/Containers/ImportExport/SaveAsFile/index.js
  src/Containers/ToolBar/ToolBar.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: fix instruction
  src/Components/Box/index.css
  src/Components/Instruction/index.css
  src/Components/Instruction/index.js
  src/Containers/ImportExport/SaveAsFile/index.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

feat: try implement import
  src/Containers/ImportExport/Import/index.css
  src/Containers/ImportExport/Import/index.js
  src/Containers/ImportExport/ImportExport.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: implement read clipboard function
  src/Containers/ImportExport/Import/index.js
Due: prettier-eslint --write, import-sort --write

feat: added getClipboard btn
  src/Containers/FormBody/index.js
  src/Containers/ImportExport/Import/index.css
  src/Containers/ImportExport/Import/index.js
  src/Utils/formHelper.js
  src/redux/ui/reducer.js
  src/style.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: utils code cleanup
  src/Containers/FormBody/index.js
  src/Utils/formHelper.js
Due: prettier-eslint --write, import-sort --write

feat: added invalid btn for import method
  src/Components/ToolbarBtn/index.css
  src/Containers/ImportExport/Import/index.css
  src/Containers/ImportExport/Import/index.js
  src/Containers/ImportExport/index.css
  src/Utils/formHelper.js
  src/style.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: update precommit hook
  .lintstagedrc.json
  package.json
Due: prettier-eslint --write

feat: implement file import
  .lintstagedrc.json
  flow-typed/npm/file-saver_vx.x.x.js
  flow-typed/npm/react-dropzone_vx.x.x.js
  flow-typed/npm/react-json-view_vx.x.x.js
  package-lock.json
  package.json
  src/Containers/ImportExport/Export/index.js
  src/Containers/ImportExport/ExportToClipboard/index.js
  src/Containers/ImportExport/ExportToJson/index.js
  src/Containers/ImportExport/GetFromClipboard/GetFromClipboard.js
  src/Containers/ImportExport/Import/Import.js
  src/Containers/ImportExport/Import/index.css
  src/Containers/ImportExport/Import/index.js
  src/Containers/ImportExport/ImportExport.js
  src/Containers/ImportExport/ImportFromClipboard/index.css
  src/Containers/ImportExport/ImportFromClipboard/index.js
  src/Containers/ImportExport/ImportFromFile/index.css
  src/Containers/ImportExport/ImportFromFile/index.js
  src/redux/form/actions.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: fix redux for dev and style for ios
  src/Components/Box/index.css
  src/Containers/ImportExport/ImportFromClipboard/index.css
  src/Containers/ImportExport/ImportFromClipboard/index.js
  src/Containers/ToolBar/index.css
  src/redux/ui/reducer.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write

chore: try to fix ios export problem
  src/Containers/ImportExport/ExportToJson/index.js
  src/Containers/ImportExport/GetFromClipboard/GetFromClipboard.js
Due: prettier-eslint --write, import-sort --write

chore: update gh-page
  dist/289d84415c84902649edfb77fb6d7e5e.ico
  dist/750dac63675afe3a04bd74fa0a8a1bee.svg
  dist/ece0ce5182451a61deaa00fff38e3c3e.svg
  dist/main.js
Due: prettier-eslint --write, import-sort --write

chore: update gh-page
  289d84415c84902649edfb77fb6d7e5e.ico
  750dac63675afe3a04bd74fa0a8a1bee.svg
  ece0ce5182451a61deaa00fff38e3c3e.svg
  main.js
Due: prettier-eslint --write, import-sort --write

Path conditions:
  prettier-eslint --write: ((any of: *.css) or (any of: *.js)) or (any of: *.json)
  stylelint --fix: any of: *.css
  import-sort --write: any of: *.js
