Repository i45000/ive-ia-doc-generator-1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

.lintstagedrc.json:

{
  "linters": {
    "*.css": ["prettier-eslint --write", "stylelint --fix", "git add"],
    "*.js": [
      "import-sort --write",
      "prettier-eslint --write",
      "eslint --fix",
      "jest --bail --findRelatedTests",
      "git add"
    ],
    "*.json": ["prettier-eslint --write", "git add"]
  },
  "ignore": ["flow-typed/**"]
}

chore: update gh-page
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-page
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: fix the correct MIME type for json
  src/Containers/ImportExport/ExportToJson/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: code cleanup at import component
  src/Containers/ImportExport/Import/Import.js
  src/Containers/ImportExport/Import/index.css
  src/Containers/ImportExport/ImportFromClipboard/clipboardBtnMap.js
  src/Containers/ImportExport/ImportFromClipboard/index.css
  src/Containers/ImportExport/ImportFromClipboard/index.js
  src/Containers/ImportExport/ImportFromFile/dropZoneMap.js
  src/Containers/ImportExport/ImportFromFile/index.css
  src/Containers/ImportExport/ImportFromFile/index.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: collapse import btn when other btn press
  src/Containers/ToolBar/ToolBar.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: added redux preserve state
  flow-typed/npm/react-copy-to-clipboard_v5.x.x.js
  flow-typed/npm/redux-persist-transform-immutable_vx.x.x.js
  package-lock.json
  package.json
  src/index.js
  src/redux/index.js
  src/redux/rootReducer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: implement dark theme
  flow-typed/npm/react-copy-to-clipboard_v5.x.x.js
  src/Components/Box/Box.js
  src/Components/Box/index.css
  src/Components/Box/index.js
  src/Components/Header/index.css
  src/Components/Header/index.js
  src/Components/ToolbarBtn/ToolbarBtn.js
  src/Components/ToolbarBtn/index.css
  src/Components/ToolbarBtn/index.js
  src/Containers/App/App.js
  src/Containers/App/index.css
  src/Containers/App/index.js
  src/Containers/FormBody/index.js
  src/Containers/ImportExport/Export/index.css
  src/Containers/ImportExport/Export/index.js
  src/Containers/ImportExport/Import/Import.js
  src/Containers/ImportExport/Import/index.css
  src/Containers/ImportExport/ImportExport.js
  src/Containers/ImportExport/ImportFromFile/index.css
  src/Containers/ImportExport/ImportFromFile/index.js
  src/Containers/ImportExport/index.css
  src/Containers/ToolBar/ToggleThemeBtn/ToggleThemeBtn.js
  src/Containers/ToolBar/ToggleThemeBtn/index.js
  src/Containers/ToolBar/ToolBar.js
  src/Containers/ToolBar/index.css
  src/redux/rootReducer.js
  src/redux/ui/__tests__/reducer.test.js
  src/redux/ui/actions.js
  src/redux/ui/reducer.js
  src/redux/ui/selectors.js
  src/style.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-pages
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-pages
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: implement reset form function
  src/Containers/ImportExport/index.css
  src/Containers/ToolBar/ResetFromBtn/ResetFromBtn.js
  src/Containers/ToolBar/ResetFromBtn/index.js
  src/Containers/ToolBar/ToggleThemeBtn/ToggleThemeBtn.js
  src/Containers/ToolBar/ToolBar.js
  src/Containers/ToolBar/index.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: implement reset form function
  src/Components/IADetail/index.js
  src/Components/IASupervisor/index.js
  src/Components/PersonalInfo/index.js
  src/Components/ProgramInfo/index.js
  src/Components/SiteVisit/index.js
  src/Containers/FormBody/index.js
  src/Containers/ImportExport/Import/Import.js
  src/Containers/ToolBar/ResetFromBtn/ResetFromBtn.js
  src/index.js
  src/redux/form/reducer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: checking on get clipboard
  src/Components/Instruction/index.js
  src/Containers/ImportExport/Import/Import.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: code cleanup and added footer
  src/Components/Box/Box.js
  src/Components/FlexLabel/index.js
  src/Components/Footer/index.css
  src/Components/Footer/index.js
  src/Containers/App/App.js
  src/Containers/ImportExport/index.css
  src/Containers/ToolBar/ToolBar.js
  src/Containers/ToolBar/index.css
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-pages
  dist/518ec2f55ec1e8bb6848083304c14820.ico
  dist/af72095ac660aaeaafc0c25f7c63d6a2.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-pages
  518ec2f55ec1e8bb6848083304c14820.ico
  af72095ac660aaeaafc0c25f7c63d6a2.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-pages
  dist/adcb417e41911acfbfe0e8be59856ebb.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update gh-pages
  adcb417e41911acfbfe0e8be59856ebb.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: added doc generator
  .flowconfig
  package-lock.json
  package.json
  src/Components/Footer/index.css
  src/Components/GoToTop/index.css
  src/Components/GoToTop/index.js
  src/Components/IosWarning/index.css
  src/Components/IosWarning/index.js
  src/Containers/App/App.js
  src/Containers/FormBody/index.js
  src/Utils/formHelper.js
  src/assets/favicon-dark.ico
  src/assets/template-document.docx
  src/index.js
  webpack.config.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

fix: fail to set complete percentage after preserved redux state
  src/Containers/FormBody/FormBody.js
  src/Containers/FormBody/index.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

feat: update template doc
  src/Utils/formHelper.js
  src/assets/template-document.docx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update template document
  package-lock.json
  src/Utils/formHelper.js
  src/assets/template-document.docx
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update package json
  .vscode/settings.json
  package.json
Due: prettier-eslint --write

chore: update dependency
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier-eslint --write

chore: initial dist subtree commit
  f07854d33aad1f872952e6eeb29d4e70.docx
  main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: initial dist subtree commit
  dist/f07854d33aad1f872952e6eeb29d4e70.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update to new template document
  src/assets/template-document.docx
Due: none

feat: update template doc
  .lintstagedrc.json
  flow-typed/npm/@babel/cli_vx.x.x.js
  flow-typed/npm/@babel/core_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-class-properties_vx.x.x.js
  flow-typed/npm/@babel/plugin-proposal-object-rest-spread_vx.x.x.js
  flow-typed/npm/@babel/plugin-syntax-dynamic-import_vx.x.x.js
  flow-typed/npm/@babel/plugin-transform-runtime_vx.x.x.js
  flow-typed/npm/@babel/preset-env_vx.x.x.js
  flow-typed/npm/@babel/runtime_vx.x.x.js
  flow-typed/npm/css-loader_vx.x.x.js
  flow-typed/npm/docxtemplater_vx.x.x.js
  flow-typed/npm/eslint-plugin-flowtype_vx.x.x.js
  flow-typed/npm/eslint-plugin-jest_vx.x.x.js
  flow-typed/npm/eslint_vx.x.x.js
  flow-typed/npm/file-saver_v2.x.x.js
  flow-typed/npm/file-saver_vx.x.x.js
  flow-typed/npm/husky_vx.x.x.js
  flow-typed/npm/jszip-utils_vx.x.x.js
  flow-typed/npm/jszip_vx.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-copy-to-clipboard_v5.x.x.js
  flow-typed/npm/react-device-detect_vx.x.x.js
  flow-typed/npm/react-redux-form_vx.x.x.js
  flow-typed/npm/react-scroll-up_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
  flow-typed/npm/webpack_v4.x.x.js
  flow-typed/npm/webpack_vx.x.x.js
  src/Components/IASupervisor/index.js
  src/Components/PersonalInfo/index.js
  src/Utils/formHelper.js
  src/assets/template-document.docx
  src/inputMap/iaSupervisor.js
  src/inputMap/index.js
  src/inputMap/medicalInfo.js
  src/redux/ui/reducer.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: update script
  package.json
Due: prettier-eslint --write

chore: update template doc
  src/Components/IADetail/index.css
  src/Components/IADetail/index.js
  src/Utils/formHelper.js
  src/assets/template-document.docx
  src/inputMap/iaCompany.js
  src/inputMap/iaJob.js
  src/inputMap/iaMentor.js
  src/inputMap/iaRequirement.js
Due: prettier-eslint --write, stylelint --fix, import-sort --write, eslint --fix, jest --bail --findRelatedTests

chore: initial dist subtree commit
  dist/6aed8f364d55b5d619a851f6a786ac13.docx
  dist/main.js
Due: prettier-eslint --write, import-sort --write, eslint --fix, jest --bail --findRelatedTests
